*{
  margin: 0px;padding: 0px;box-sizing:border-box;
  font-family:'Poppins', Sans-Serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background:#000000;
  color:#fff;
  width:100%;
  
}
body span,body h1{
  text-shadow: 3px 0px 2px rgba(255,255,255,0.4);
}
.header{
  width:100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)),url('img/desktop.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.container{
  padding:10px 10px;
}
nav .icon{
  display:none;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width:140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}
nav ul li a{
  text-decoration: none;
  color:#fff;
  font-size: 22px;
  position: relative;
  
}
nav ul li a:after{
  content:' ';
  width:0%;
  height:3px;
  background: #ff004f;
  position: absolute;
  left: 0px;
  bottom: -6px;
  
  transition: 0.5s;
}
nav a:hover{
  text-decoration: none;
  color:#fff;
  text-shadow: 1px 2px 4px white;
  font-size: 25px;
  transition:0.5s;
}
nav ul li a:hover:after{
  width:100%;
  color:red;
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1{
  font-size:60px ;
  margin-top: 20px;
}
.header-text h1 span{
  color:#9f0f4f;
  font-size: 75px;
}
.tb{
  font-size: 90px;
  font-weight: 800;
  position:fixed;
  top:93%;
  left:80%;
  
}
.tb a{
  text-decoration: none;
  color:rgba(255,255,255,0.2);
  transition: color 0.2s;
}
.tb a:hover{
  color:rgba(255,255,255,0.6);
}
/* --------about ------*/
.about{
  padding: 80px 0;
  color:#ababab;
  width:100%;
}
.about .col2 h1{
  position: relative;
  padding-bottom: -10px;
}
.about .col2 h1:after{
  content:'';
  width:30%;
  height:3px;
  background:linear-gradient(rgba(120,150,220,0.5),rgba(220,250,120,0.8));
  position:absolute;
  left: 0;
  bottom:-8px;
  border-radius: 20px;
  transition: width 0.5s;
  
}
.row{
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .col1{
  flex-basis: 35%;
  width:35%;
  position: relative;
  height:550px;
}
.about .col1 img{
  width:100%;
  height:100%;
  border-radius: 20px;
}
.aboutdark{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px gray;
 background-image: linear-gradient(rgba(255,255,255,0.3),rgba(0,0,0,0.9));
}
.about .col2{
  flex-basis: 55%;
  width:55%;
}
.about p{
  margin-top: 55px;
}
.about .tab-titles p{
  margin-top: -20px;

font-weight:bold;
  color:#fff;
  text-shadow: 2px 2px 3px gray;
}
.about .col2 h1{
  font-size: 40px;
  font-weight: 600;
  color:#fff;
  
}
.about ul{
  list-style: none;
}

.about li{
  position: relative;
  margin-top: 10px;
}
.about #bar{
  content: ' ';
  width:90%;
  background:#14c8f5;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  left: :10px;
  top: 5px;
  overflow: hidden;
}
.about span{
  color:#569656;
  font-size:22px;
  font-weight: 800;
  font-family: Georgia,Verdana;
  font-weight: bold;
 
}
.about li{
  font-family: Georgia,Verdana;
  font-size:18px;
}
.tab-titles{
  display:flex;
  margin:20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position:relative;
  transition: 0.5s;
}
.tab-links ul li{
  list-style: none;
}
.tab-links.active-link:after{
  content:'';
  width:50%;
  height:3px;
  background:#ff004f;
  position:absolute;
  left: 0;
  bottom:-8px;
  border-radius: 20px;
  transition: width 0.5s;
}
.tab-contents{
  display:none;
  transition:display 0.5s;
}
.tab-contents p{
  margin-top: -20px;
}
.tab-contents.active-tab{
  display: block;
  transition:display 0.5s;
}
/*------services -----*/
.services{
  padding:30px 0;
 
}
.services-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap:40px;
  margin-top: 50px;
  overflow: hidden;
  
}
.services-list div{
  background:#262626;
  text-align:center;
  padding:20px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 20px;
  transition: 0.5s;
  height: auto;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.services-list div a{
  text-decoration:none;
  color:#fff;
  font-size: 22px;
  margin-top: 20px;
  display:inline-block;
  background:#202020;
  padding:2px 6px;
  box-shadow: 2px 3px 5px rgba(255,255,255,0.2);
  border-radius: 10px;
  transition: 0.5s;
}
.services-list div:hover{
  background-image: linear-gradient(rgba(120,220,255,0.7),rgba(255,220,220,0.5));
  transform: scale(1.1);
  transform: translateY(-20px);
  box-shadow: 2px 4px 10px rgba(255,255,255,0.5);
}
.services-list a:hover{
  background: rgba(255,210,220,0.5);
  transform: scale(1.1);
}
.services-list div{
  overflow: hidden;
}
.services-list ol{
  margin-left: 50px;
  text-align: left;
}
.services-list input{
  display: none;
}/*
#read-more{
  overflow: hidden;
 display: none;
 
}
#readm:checked + #read-more{
  display: block;
  margin-top: 10px;
  background-image: linear-gradient(rgba(120,220,255,0.7),rgba(255,220,220,0.5));
}*/
/*------portfolio------*/
.portfolio{
  padding: 50px 0;
  
}
.portfolio .work-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:40px;
  margin-top: 50px;
  /*height:50%;*/
  
}
.work:hover{
  transform: translateY(-25px);
  box-shadow: 6px 6px 8px rgba(255,255,255,0.9);
}
.work-list .work{
  width: 100%;
  height:20vh;
  border-radius: 15px;
  position:relative;
  overflow: hidden;
  transition: transform 0.5s;
}
.dark{
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;top:0;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}
.work-list .work img{
  width:100%;
  height: 100%;
  border-radius: 15px;
  display:block;
  transition: 0.5s;
  
}
.work .layer{
  width:100%;
  height:0%;
  background:linear-gradient(rgba(120,220,255,0.7),rgba(255,220,220,0.9));
  border-radius: 15px;
  position: absolute;
  left:0;
  bottom:0;
  overflow:hidden;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding :0 40px;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
  text-shadow: 0px 2px 5px black;
  font-family: Georgia;
}
.layer p{
  font-size: 22px;
  font-weight: 400;
  text-shadow: 2px 2px 5px black;
  
}
.layer a{
  border:1px solid white;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  text-shadow:2px 3px 5px rgba(0,0,0,1) ;
  background: rgba(255,255,255,0.4);
  padding: 4px;
 border-radius: 8px;
 text-decoration: none;
 font-size: 16px;
 font-weight: 450;
 color:#fff;
 font-family: Segoe UI;
 transition: transform 0.5s;
}
.layer a:hover{
  transform: scale(1.1);
  box-shadow: 2px 3px 5px rgba(0,0,0,0.8);
}
.work:hover img{
  transform:scale(1.1);
}
.work:hover .layer{
  height:100%;
}

/*------contact -----*/

.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis:60%;
}
.contact-left p{
  margin-top:30px;
}
.social-icon a{
  text-decoration:none;
  color:#ff994f;
  margin-right: 15px;
  font-size: 25px;
}
.contact-right .btn.btn2{
  display:inline-block;
  background:#ff667f;
}
.contact-right form{
  width:100%;
}
.contact-right form input,.contact-right form textarea{
  width:100%;
  border:0;
  outline: none;
  background:#262626;
  padding:15px;
  margin:15px 0;
  color:#fff;
  font-size:18px;
  border-radius: 10px;
}
from btn2{
  padding:14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width:100%;
  text-align:center;
  padding:25px 0;
  background:#252525;
  font-weight: 400;
  margin-top: 20px;
}
/*---+css for small screen---*/
@media only screen and (max-width:600px){
  .header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)),url('img/mobile.jpg');
  }
  .header-text{
    margin-top:100%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 50px;
  }
  .container{
    padding:10px 10%;
    }
  nav .icon{
    display:block;
    font-size: 50px;
    text-decoration: none;
    color:#fff;
  }
  nav ul{
    background:#ff994f;
    position:fixed;
    top:0;right:-200px;
    width:200px;height:100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display:block;
    margin:55px;
  }
  nav ul .icon{
    position:absolute;
    top:15px;
    left:55px;
    cursor: pointer;
  }
  .about .col1{
    height:auto;
    border-image: 20px;
  }
  
  .contact-left,.contact-right{
    flex-basis:100%;
    width:100%;
  }
  .contact-right{
    text-align: center;
  }
  .tb{
    top:86%;
    left:80%
  }
  .work-list .work{
    height:70vh;
  }
  .about .col1, .about .col2{
    flex-basis:100%;
    width:100%;
  }
  .about .tab-titles p{
    margin-top: 2px;
    font-size: 20px;
  }
  
  
  
  
  
}







